<!-- https://www.positronx.io/how-to-implement-date-range-picker-in-angular/ -->
<!-- https://stackoverflow.com/questions/39152071/cant-bind-to-formgroup-since-it-isnt-a-known-property-of-form -->

<!-- Date range picker forms integration ------------------------------------->

<h2 class="title">Angular 12 Date Range Picker Demo</h2>
<div class="rangePicker">
  <mat-form-field appearance="legacy">
    <mat-label>Choose Date Range</mat-label>
    <mat-date-range-input [rangePicker]="picker" [formGroup]="dateRange">
      <input matStartDate formControlName="start" placeholder="Start Date" />
      <input matEndDate formControlName="end" placeholder="End Date" />
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
</div>
<pre style="border: 1px solid black">
  <ul>
    <li><b>Start:</b> {{ dateRange.value.start | date }}</li>
    <li><b>End:</b>{{ dateRange.value.end | date }}</li>
    <li><b>Selected range:</b> {{ dateRange.value | json }}</li>
  </ul>
</pre>

<br />
<!-- -Date range picker comparison ranges-------------------------------------------- -->

<mat-form-field class="example-form-field" appearance="fill">
  <mat-label>First campaign</mat-label>
  <mat-date-range-input
    [formGroup]="campaignOne"
    [rangePicker]="campaignOnePicker"
    [comparisonStart]="campaignTwo.value.start"
    [comparisonEnd]="campaignTwo.value.end"
  >
    <input matStartDate placeholder="Start date" formControlName="start" />
    <input matEndDate placeholder="End date" formControlName="end" />
  </mat-date-range-input>
  <mat-datepicker-toggle
    matSuffix
    [for]="campaignOnePicker"
  ></mat-datepicker-toggle>
  <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
</mat-form-field>

<mat-form-field class="example-form-field" appearance="fill">
  <mat-label>Second campaign</mat-label>
  <mat-date-range-input
    [formGroup]="campaignTwo"
    [rangePicker]="campaignTwoPicker"
    [comparisonStart]="campaignOne.value.start"
    [comparisonEnd]="campaignOne.value.end"
  >
    <input matStartDate placeholder="Start date" formControlName="start" />
    <input matEndDate placeholder="End date" formControlName="end" />
  </mat-date-range-input>
  <mat-datepicker-toggle
    matSuffix
    [for]="campaignTwoPicker"
  ></mat-datepicker-toggle>
  <mat-date-range-picker #campaignTwoPicker></mat-date-range-picker>
</mat-form-field>
