.rangePicker {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.title {
  background-color: brown;
  text-align: center;
  color: white;
}

.example-form-field {
  margin-right: 20px;
}
